#postbox-container-2 {
	margin-top: 20px;
}
.quantity_field {
    display: none;
}
input#quantity, .select2-container {
	width: 95%;
	margin-right:5%;
	clear: both;
	display: block;
}
.form-field input{
	margin-right: 5%;
}
.cust_field label:first-child {
	margin-bottom: 4px;
	display: block;
}
input#cust {
	margin-right: 4px;
}
label.description {
	font-size: 13px;
	font-style: italic;
}