#postbox-container-2 {
	margin-top: 20px;
}
.quantity_field {
    display: none;
}
input#quantity, .select2-container {
	width: 95%;
	margin-right:5%;
	clear: both;
	display: block;
}
.form-field input{
	margin-right: 5%;
}
input#cust {
	width: 1%;
	margin-right: 99%;
}